
<p>Add New Product</p>
<form [formGroup]="productForm">

    <label>Product Name</label>
    <input formControlName= "productName"><br>

    <label>Product Price</label>
    <input formControlName= "productPrice"><br>
    
    <label>Product Image</label>
    <input formControlName= "productImage"><br>
    
    <label>Product Description</label>
    <input  formControlName= "productDescription"><br>

    <select formControlName="categoryControl">
        <option [ngValue]="category" *ngFor="let category of categories">{{category.categoryName}}</option>
    </select>

</form>


<button (click)="save()" >Save Product</button>